body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 4rem;
}

input {
    width: 4rem;
}

.etch-wrapper {
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
}

.window-wrapper {
    display: flex;
}

.etch-window {
    height: 70vh;
    width: 70vh;
}

.etch-body {
    background-color: #B91D21;
}

.etch-top {
    height: 10vh;
    width: 90vh;
    border-radius: 10px 10px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.etch-side {
    height: 70vh;
    width: 10vh;
}

.etch-bottom {
    height: 10vh;
    width: 90vh;
    border-radius: 0 0 10px 10px;
}

.grid-row {
    height: 6.25%;
    display: flex;
    background-color: #C4C4C4;
}

.grid-square {
    height: 100%;
    width: 6.25%;
}

.grid-square:hover {
    background-color: aquamarine;
}

.clicked-grid {
    background-color: yellow;
}